NEXT_PUBLIC_API_BASE_URL=http://localhost:3001
NEXT_PUBLIC_AZURE_TENANT_ID=93fa5a2e-4598-4c6e-86f9-6092f6b8c0c4
NEXT_PUBLIC_AZURE_CLIENT_ID=<spa-app-client-id>
NEXT_PUBLIC_AZURE_API_SCOPE=api://<api-app-client-id>/access_as_user
